<!-- <button id="googleBtn" (click)="googleSignIn()" >Google Sign-In</button> -->


<div class="row">
    <div class="col-md-4 div-center">
            <h1>  Welcome to Mail App  </h1>
            <p>Click below button to login using google</p>
        <br/><br/><br/>            
       <div class="div-center" [hidden]="!showSignInBtn">
            <a href="#" (click)="googleSignIn()">
                <img class="google-img" src="/assets/img/btn_google.png" />
            </a>
       </div>
    </div>
</div>
