<div class="container-flex">
  <div class="row">
    <div class="col-lg-7 div-center">
      <div class="input-group">
        <input type="text" class="form-control" name="searchHolder" placeholder="Search..."
                   [(ngModel)]="searchInput" (keydown.space)="$event.preventDefault()" (keydown.enter)="getSearchResults(userInput.value)" #userInput />
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="getSearchResults(userInput.value)">Search </button>
        </span>
      </div>
    </div>
    <div class="mail-container">
        <div class="row">
            <div class="col-md-8 div-center">
                <div class="list-group" >
                    <a href="javascript:void(0);" class="list-group-item list-group-item-action"
                          *ngFor="let mail of searchResults" (click)="goToMailBody(mail.id)">{{mail.messages[0].snippet}}</a>
                  </div>
            </div>
          </div>
    </div>
  </div>
  <div class="row not-found">
    <div class="col-md-6 div-center" [hidden]="showResults">
      <p>No Results Found for keyword "{{ userInput.value}}"</p>
    </div>
  </div>
</div>
