.mail-container {
    margin: 30px 0 0 60px;
}

.div-center{
    float: none;
    margin: 0 auto;
    text-align: center;
}
.list-group {
    margin-left: 20px;
}
.list-group-item {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.not-found{
    margin-top : 40px;
}